<header>
  <h1>Citelsoftware - Banco de sangue</h1>
</header>

<nav>
  <ul class="nav-menu">
    <li><a routerLink="/imc-faixa-idade">IMC Faixa Idade</a></li>
    <li><a routerLink="/percentual-obesos">Percentual Obesos</a></li>
    <li><a routerLink="/media-idade-tipo-sanguineo">Média Idade Tipo Sanguíneo</a></li>
    <li><a routerLink="/doadores-tipo-receptor">Doadores Tipo Receptor</a></li>
    <li><a routerLink="/candidatos">Todos candidatos</a></li>
    <li><a routerLink="/candidatos/por-estado">Candidatos por estado</a></li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2024 Citelsoftware</p>
</footer>
